<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App</title>
  <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  <link href="/static/css/styles.css" rel="stylesheet">
</head>

<body class="">
  <div class="">
    <header class="">
      <h1 class="">
        Todo
      </h1>
    </header>
    <div class="avatar">
      <div class="w-24 rounded">
        <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
      </div>
    </div>

    <!-- Todo Form -->
    <div class="">
      <form hx-post="/todos" hx-target="#todo-list" hx-swap="outerHTML" class="">
        <div class="">
          <input type="text" name="title" placeholder="What needs to be done?" class="" required>
          <button type="submit" class="">
            <button type="submit" class="btn btn-primary">
              Add
            </button>
        </div>
      </form>
    </div>

    <!-- Todo List -->
    <div id="todo-list" hx-get="/todos" hx-trigger="load" class="">
    </div>
  </div>
</body>

</html>
